{% load i18n %}
{% if web_inspector.success %}
    <dl class="dl-horizontal">
        <dt>{% trans "URL" %}</dt>
        <dd>{{ web_inspector.web_link.url }}</dd>
        <dt>{% trans "Version" %}</dt>
        <dd>{{ web_inspector.web_link.version }}</dd>
        <hr />
        <dt>{% trans "Title" %}</dt>
        <dd>{{ web_inspector.web_link.title }}</dd>
        <dt>{% trans "Description" %}</dt>
        <dd>{{ web_inspector.web_link.description }}</dd>
        <dt>{% trans "Keywords" %}</dt>
        <dd>{{ web_inspector.web_link.keywords }}</dd>
        <dt>{% trans "Author" %}</dt>
        <dd>{{ web_inspector.web_link.author }}</dd>
    </dl>
{% else %}
    <p class="text text-danger">{{ web_inspector.message }}</p>
{% endif %}